@use '../abstracts/animations';
@use '../abstracts/mixins' as *;

.key {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 13px;
    font-size: 1.3rem;
    background: rgba(50, 50, 50, 1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    animation: rgbShadow 10s infinite;

    &::before {
        position: absolute;
        top: 8px;
        content: attr(data-key);
        border-radius: 3px;
        background: rgba(57, 57, 57, 1);
        width: 70%;
        height: 60%;
        z-index: 0;
    }
}

.setColor {
    color: rgba(255, 255, 255, 1);
    transform: scale(0.95) translate(3px);
    animation: shrink 0.3s forwards;
}

#Backspace {
    grid-column-start: 14;
    grid-column-end: 17;
    &::before {
        width: 88%;
    }
}

#Tab {
    grid-column-start: 1;
    grid-column-end: 3;
    &::before {
        width: 85%;
    }
}

#Backslash {
    grid-column-start: 15;
    grid-column-end: 17;
    &::before {
        width: 84%;
    }
}

#Delete {
    display: none;
    grid-column-start: 16;
    grid-column-end: 17;
}

#CapsLock {
    grid-column-start: 1;
    grid-column-end: 3;
    &::before {
        width: 85%;
    }
}

#Enter {
    grid-column-start: 14;
    grid-column-end: 17;
    &::before {
        width: 88%;
    }
}

#Space {
    grid-column-start: 4;
    grid-column-end: 12;
    &::before {
        width: 95%;
    }
}

#ShiftLeft {
    grid-column-start: 1;
    grid-column-end: 4;
    &::before {
        width: 88%;
    }
}

#ShiftRight {
    grid-column-start: 15;
    grid-column-end: 17;
    &::before {
        width: 85%;
    }
}
