@use '../abstracts/animations';

.text {
    display: flex;
    justify-content: center;
}

#textarea {
    margin: 10px;
    resize: none;
    outline: none;
    animation: rgbShadow 10s infinite;
    font-size: 3em;
    padding: 14px;
    border-radius: 10px;
}
