@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    background-color: $secondary-color;
    color: $primary-color;
}

.info {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5em;
}
